<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        title=#{amendments.title},
        mainContent=~{::#main-content},
        pageCategory=${null},
        showBackLink=${true}
    )}">
<body>
<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                <span th:text="#{amendments.requestBy.title}"></span>
            </h1>

            <form method="post"
                  th:action="@{/submissions/{submissionId}/claims/{claimId}/amendments/requested-by(submissionId=${submissionId}, claimId=${claimId})}"
                  th:object="${requestedByForm}"
                  th:with="formErrors=${@ThymeleafUtils.orEmpty(requestedByFormErrors)}">

                <th:block th:replace="~{partials/error-summary :: error-summary(${formErrors})}"></th:block>

                <div class="govuk-form-group"
                     th:classappend="${@ThymeleafUtils.hasAmendmentFieldError(formErrors, 'requestedBy') ? ' govuk-form-group--error' : ''}">
                    <span id="requestedBy"></span>
                    <th:block th:replace="~{partials/amendments/field-error :: fieldError('requestedBy', ${formErrors})}"></th:block>
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-radios govuk-radios--small"
                             data-module="govuk-radios" id="requested-by-input-container">
                            <th:block th:each="requestedBy,idx : ${amendmentRequestByOptions}">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input"
                                           th:id="${idx.index > 0} ? |requestedBy-input-${idx.index}| : |requestedBy-input|"
                                           type="radio"
                                           th:field="*{requestedBy}"
                                           th:value="${requestedBy.getKey()}"
                                    >
                                    <label class="govuk-label govuk-radios__label"
                                           th:for="${idx.index > 0} ? |requestedBy-input-${idx.index}| : |requestedBy-input|"
                                           th:text="${requestedBy.getValue()}">
                                    </label>
                                </div>
                            </th:block>

                        </div>
                    </fieldset>
                </div>
                <div class="govuk-button-group">
                    <button class="govuk-button" type="submit" th:text="#{amendments.continue}"></button>
                    <a th:href="@{/submissions/{submissionId}/claims/{claimId}(submissionId=${submissionId}, claimId=${claimId})}"
                       id="cancel"
                       class="govuk-link govuk-link--no-visited-state"
                       th:text="#{service.cancel}">
                    </a>
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>
