<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="amendmentInput(field, labelMessageKey, formErrors)">
  <th:block th:if="${field.fieldType.name() == 'DATE'}">
    <th:block th:replace="~{fragments/amendments/date-input :: amendmentDateInput(${field.name()}, ${formErrors})}"></th:block>
  </th:block>
  <th:block th:if="${field.fieldType.name() == 'BOOLEAN'}">
    <th:block th:replace="~{fragments/amendments/boolean-input :: amendmentBooleanInput(${field.name()}, ${labelMessageKey}, ${formErrors})}"></th:block>
  </th:block>
  <th:block th:if="${field.fieldType.name() == 'ENUM'}">
    <th:block th:replace="~{fragments/amendments/enum-input :: amendmentEnumInput(${field}, ${labelMessageKey}, ${formErrors})}"></th:block>
  </th:block>
  <th:block th:if="${field.fieldType.name() == 'MONETARY'}">
    <th:block th:replace="~{fragments/amendments/monetary-input :: amendmentMonetaryInput(${field.name()}, ${labelMessageKey}, ${formErrors})}"></th:block>
  </th:block>
  <th:block th:if="${field.fieldType.name() == 'NUMBER'}">
    <th:block th:replace="~{fragments/amendments/number-input :: amendmentNumberInput(${field.name()}, ${labelMessageKey}, ${formErrors})}"></th:block>
  </th:block>
  <th:block th:if="${field.fieldType.name() == 'TEXT'}">
    <th:block th:replace="~{fragments/amendments/field-error :: fieldError(${field.name()}, ${formErrors})}"></th:block>
    <input class="govuk-input"
           th:classappend="${@ThymeleafUtils.hasAmendmentFieldError(formErrors, field.name()) ? 'govuk-input--error' : ''}"
           type="text"
           th:id="${field.name()}"
           th:field="*{inputs[__${field.name()}__]}" />
  </th:block>
</th:block>
</body>
</html>
