<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="amendmentMonetaryInput(fieldKey, labelMessageKey, formErrors)"
          th:with="label=${#messages.msgOrNull(labelMessageKey) ?: fieldKey}">
  <label class="govuk-label govuk-visually-hidden"
         th:for="${fieldKey}"
         th:text="${label}"></label>
  <th:block th:replace="~{fragments/amendments/field-error :: fieldError(${fieldKey}, ${formErrors})}"></th:block>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-10"
           th:classappend="${@ThymeleafUtils.hasAmendmentFieldError(formErrors, fieldKey) ? 'govuk-input--error' : ''}"
           type="text"
           inputmode="decimal"
           spellcheck="false"
           th:id="${fieldKey}"
           th:field="*{inputs[__${fieldKey}__]}" />
  </div>
</th:block>
</body>
</html>
