<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        title=#{claimSummary.title},
        mainContent=~{::#main-content},
        pageCategory=${null},
        showBackLink=${false}
    )}">
<body>
<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <th:block th:replace="~{fragments/claim-details-header :: claimDetailsHeader(currentPage='costs')}"></th:block>

            <h2 class="govuk-heading-m" th:text="#{claimDetails.costsHeading}"></h2>

            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title" th:text="#{claimCosts.listOfCosts}"></h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key" th:text="#{claimCosts.item}"></dt>
                            <dd class="govuk-summary-list__value govuk-!-font-weight-bold" th:text="#{claimCosts.submitted}"></dd>
                            <dd class="govuk-summary-list__value govuk-!-font-weight-bold" th:text="#{claimCosts.calculated}"></dd>
                            <dd class="govuk-summary-list__value govuk-!-font-weight-bold" th:if="${claim.hasAssessment}" th:text="#{claimCosts.assessed}"></dd>
                        </div>

                        <div class="govuk-summary-list__row"
                             th:each="entry : ${claim.costFields}"
                             th:with="field=${entry.key}, row=${entry.value}">
                            <dt class="govuk-summary-list__key" th:text="#{${'claimField.' + field.name()}}"></dt>
                            <dd class="govuk-summary-list__value" th:text="${@ThymeleafUtils.getFormattedValue(row.submitted).resolve(#messages)}"></dd>
                            <dd class="govuk-summary-list__value"
                                th:text="${@ThymeleafUtils.getFormattedValue(row.calculated).resolve(#messages)}"></dd>
                            <dd class="govuk-summary-list__value" th:if="${claim.hasAssessment}" th:text="${@ThymeleafUtils.getFormattedValue(row.assessed).resolve(#messages)}"></dd>
                            <dd class="govuk-summary-list__actions" th:if="${field.isAmended(amendedFields)}">
                                <strong class="govuk-tag govuk-tag--yellow" th:text="#{service.amended}"></strong>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>

            <th:block th:replace="~{fragments/claim-details-footer :: claimDetailsFooter()}"></th:block>
        </div>
    </div>
</main>
</body>
</html>
