<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        title=#{claimSummary.title},
        mainContent=~{::#main-content},
        pageCategory=${null},
        showBackLink=${false}
    )}">
    <body>
        <main class="govuk-main-wrapper" id="main-content">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <th:block th:replace="~{fragments/claim-details-header :: claimDetailsHeader(currentPage='overview')}"></th:block>

                    <h2 class="govuk-heading-m" th:text="#{claimDetails.overviewHeading}"></h2>

                    <th:block th:if="${claim != null}">
                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title" th:text="#{claimSummary.summary}"></h2>
                            </div>
                            <div class="govuk-summary-card__content">
                                <dl class="govuk-summary-list">
                                    <div class="govuk-summary-list__row" th:each="entry : ${claim.summaryRows}">
                                        <dt class="govuk-summary-list__key" th:text="#{${'claimField.' + entry.key}}"></dt>
                                        <dd class="govuk-summary-list__value" th:text="${@ThymeleafUtils.getFormattedValue(entry.value).resolve(#messages)}"></dd>
                                        <dd class="govuk-summary-list__actions" th:if="${entry.key.isAmended(amendedFields)}">
                                            <strong class="govuk-tag govuk-tag--yellow" th:text="#{service.amended}"></strong>
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </div>

                        <div class="govuk-summary-card">
                            <div class="govuk-summary-card__title-wrapper">
                                <h2 class="govuk-summary-card__title" th:text="#{claimSummary.values}"></h2>
                            </div>
                            <div class="govuk-summary-card__content">
                                <dl class="govuk-summary-list">
                                    <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key" th:text="#{claimSummary.item}"></dt>
                                        <dd class="govuk-summary-list__value govuk-!-font-weight-bold" th:text="#{claimSummary.submitted}"></dd>
                                        <dd class="govuk-summary-list__value govuk-!-font-weight-bold" th:text="#{claimSummary.calculated}"></dd>
                                        <dd class="govuk-summary-list__value govuk-!-font-weight-bold" th:if="${claim.hasAssessment}" th:text="#{claimSummary.assessed}"></dd>
                                    </div>
                                    <div class="govuk-summary-list__row"
                                         th:each="entry : ${claim.summaryClaimFieldRows}"
                                         th:with="field=${entry.key}, row=${entry.value}">
                                        <dt class="govuk-summary-list__key" th:text="#{${'claimField.' + field.name()}}"></dt>
                                        <dd class="govuk-summary-list__value" th:text="${@ThymeleafUtils.getFormattedValue(row.submitted).resolve(#messages)}"></dd>
                                        <dd class="govuk-summary-list__value" th:text="${@ThymeleafUtils.getFormattedValue(row.calculated).resolve(#messages)}"></dd>
                                        <dd class="govuk-summary-list__value" th:if="${claim.hasAssessment}" th:text="${@ThymeleafUtils.getFormattedValue(row.assessed).resolve(#messages)}"></dd>
                                        <dd class="govuk-summary-list__actions" th:if="${field.isAmended(amendedFields)}">
                                            <strong class="govuk-tag govuk-tag--yellow" th:text="#{service.amended}"></strong>
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                        </div>

                        <th:block th:if="${claim.hasAssessment()}">
                            <div class="govuk-summary-card" th:if="${!claim.assessedTotals.isEmpty()}">
                                <div class="govuk-summary-card__title-wrapper">
                                    <h2 class="govuk-summary-card__title" th:text="#{claimSummary.assessedTotalsTableTitle}"/>
                                </div>
                                <div class="govuk-summary-card__content">
                                    <table class="govuk-table govuk-!-margin-bottom-0">
                                        <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th class="govuk-table__header" scope="col" th:text="#{claimSummary.item}"></th>
                                            <th class="govuk-table__header" scope="col" th:text="#{claimSummary.submitted}"></th>
                                            <th class="govuk-table__header" scope="col" th:text="#{claimSummary.calculated}"></th>
                                            <th class="govuk-table__header" scope="col" th:text="#{claimSummary.assessed}"></th>
                                        </tr>
                                        </thead>
                                        <tbody class="govuk-table__body">
                                        <tr class="govuk-table__row" th:each="row : ${claim.assessedTotals}">
                                            <td class="govuk-table__cell govuk-!-font-weight-bold" th:text="#{${'claimField.' + row.key}}"></td>
                                            <td class="govuk-table__cell" th:text="${@ThymeleafUtils.getFormattedValue(row.submitted).resolve(#messages)}"></td>
                                            <td class="govuk-table__cell" th:text="${@ThymeleafUtils.getFormattedValue(row.calculated).resolve(#messages)}"></td>
                                            <td class="govuk-table__cell" th:text="${@ThymeleafUtils.getFormattedValue(row.assessed).resolve(#messages)}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="govuk-summary-card" th:if="${!claim.allowedTotals.isEmpty()}">
                                <div class="govuk-summary-card__title-wrapper">
                                    <h2 class="govuk-summary-card__title" th:text="#{claimSummary.allowedTotalsTableTitle}"/>
                                </div>
                                <div class="govuk-summary-card__content">
                                    <table class="govuk-table govuk-!-margin-bottom-0">
                                        <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th class="govuk-table__header" scope="col" th:text="#{claimSummary.item}"></th>
                                            <th class="govuk-table__header" scope="col" th:text="#{claimSummary.submitted}"></th>
                                            <th class="govuk-table__header" scope="col" th:text="#{claimSummary.calculated}"></th>
                                            <th class="govuk-table__header" scope="col" th:text="#{claimSummary.allowed}"></th>
                                        </tr>
                                        </thead>
                                        <tbody class="govuk-table__body">
                                        <tr class="govuk-table__row" th:each="row : ${claim.allowedTotals}">
                                            <td class="govuk-table__cell govuk-!-font-weight-bold" th:text="#{${'claimField.' + row.key}}"></td>
                                            <td class="govuk-table__cell" th:text="${@ThymeleafUtils.getFormattedValue(row.submitted).resolve(#messages)}"></td>
                                            <td class="govuk-table__cell" th:text="${@ThymeleafUtils.getFormattedValue(row.calculated).resolve(#messages)}"></td>
                                            <td class="govuk-table__cell" th:text="${@ThymeleafUtils.getFormattedValue(row.assessed).resolve(#messages)}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </th:block>

                        <th:block th:replace="~{fragments/claim-details-footer :: claimDetailsFooter()}"></th:block>
                    </th:block>
                </div>
            </div>
        </main>
    </body>
</html>
