<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(
        title=#{claimSummary.title},
        mainContent=~{::#main-content},
        pageCategory=${null},
        showBackLink=${false}
    )}">
<body>
<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <th:block th:replace="~{fragments/claim-details-header :: claimDetailsHeader(currentPage='client')}"></th:block>

            <h2 class="govuk-heading-m" th:text="#{claimDetails.clientHeading}"></h2>
        </div>

        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title"
                        th:text="${#maps.isEmpty(claim.client2Rows)}
                                    ? #{claimClient.clientDetails}
                                    : #{claimClient.client1Details}">
                    </h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row" th:each="entry : ${claim.client1Rows}">
                            <dt class="govuk-summary-list__key" th:text="#{${'claimField.' + entry.key}}"></dt>
                            <dd class="govuk-summary-list__value" th:text="${@ThymeleafUtils.getFormattedValue(entry.key, entry.value).resolve(#messages)}"></dd>
                            <dd class="govuk-summary-list__actions" th:if="${entry.key.isAmended(amendedFields)}">
                                <strong class="govuk-tag govuk-tag--yellow" th:text="#{service.amended}"></strong>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>

        <div class="govuk-grid-column-two-thirds" th:if="${!#maps.isEmpty(claim.client2Rows)}">
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title"
                        th:text="#{claimClient.client2Details}">
                    </h2>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row" th:each="entry : ${claim.client2Rows}">
                            <dt class="govuk-summary-list__key" th:text="#{${'claimField.' + entry.key}}"></dt>
                            <dd class="govuk-summary-list__value" th:text="${@ThymeleafUtils.getFormattedValue(entry.key, entry.value).resolve(#messages)}"></dd>
                            <dd class="govuk-summary-list__actions" th:if="${entry.key.isAmended(amendedFields)}">
                                <strong class="govuk-tag govuk-tag--yellow" th:text="#{service.amended}"></strong>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>

        <div class="govuk-grid-column-full">
            <th:block th:replace="~{fragments/claim-details-footer :: claimDetailsFooter()}"></th:block>
        </div>
    </div>
</main>
</body>
</html>
